<!-- views/partials/activespace.ejs -->
<div class="active-space">
	<div id="codespace" style="display: none" class="code-space">
		<div data-pym-src="https://www.jdoodle.com/embed/v1/cf13dc54470ef006"></div>
		<script
			src="https://www.jdoodle.com/assets/jdoodle-pym.min.js"
			type="text/javascript"
		></script>
	</div>
	<div class="chat" id="chat" style="display: none">
		<!-- Inside your existing <div class="chat" id="chat" style="display: none"> -->
		<div
			id="messageContainer"
			style="padding: 10px; overflow-y: auto; height: 90%"
		></div>
		<div id="typingIndicator" style="display: none"></div>
		<!-- Container for search results -->
		<div id="emoji-search-results" style="display: none"></div>
		<form id="messageForm">
			<!-- Hidden file input -->
			<input
				type="file"
				id="imageUpload"
				accept="image/*"
				style="display: none"
				onchange="handleFiles(this.files)"
			/>

			<!-- Visible elements -->
			<!-- <input
				type="text"
				id="messageInput"
				placeholder="Type a message..."
				autocomplete="off"
			/> -->
			<textarea
				name="messageInput"
				id="messageInput"
				placeholder="Type a message..."
				autocomplete="off"
			></textarea>
			<button type="submit">Send</button>
			<!-- Custom styled button that triggers the file input -->
			<label for="imageUpload" class="custom-file-upload">
				<i class="fa-solid fa-upload" style="color: white"></i>
			</label>
		</form>
	</div>
</div>

<script defer>
	function handleFiles(files) {
		console.log("ran handleFiles");
		if (files.length > 0) {
			const file = files[0];
			if (file.size <= 20 * 1024 * 1024) {
				uploadImage(file);
			} else {
				alert("File must be less than 20MB.");
			}
		}
	}
</script>
