<!-- views/partials/head.ejs -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Ion | Servers</title>
<link rel="stylesheet" href="/styles.css" />
<script defer src="/script.js"></script>
<script
	src="https://kit.fontawesome.com/ae809ac6b7.js"
	crossorigin="anonymous"
></script>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.1/css/halfmoon.min.css"
/>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.1/css/cores/halfmoon.cores.css"
/>
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/tokyo-night-dark.min.css"
/>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script defer src="/chat.js"></script>
