<!-- views/partials/head.ejs -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Ion | Servers</title>
<link rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32" />
<link rel="stylesheet" href="/styles.css" />
<script defer src="/script.js"></script>
<script
	src="https://kit.fontawesome.com/ae809ac6b7.js"
	crossorigin="anonymous"
></script>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.1/css/halfmoon.min.css"
/>
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.1/css/cores/halfmoon.cores.css"
/>
<link
	rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/tokyo-night-dark.min.css"
/>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dompurify@2/dist/purify.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script
	src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/emoji-mart@5.5.2/dist/browser.min.js"></script>
<script defer src="/chat.js"></script>
