<!-- views/partials/members.ejs -->
<div class="members">
	<p
		class="h4 mb-4"
		style="text-align: center; color: white; align-self: center"
	>
		Users
	</p>
	<div class="member-list">
		<% members.forEach(function(member) { %>
		<div class="member-entry">
			<img
				src="<%= member.profilePicture %>"
				alt="Profile Picture of <%= member.username %>"
				class="member-pfp"
			/>
			<p class="h6 text-white mb-4" style="text-align: center">
				<%= member.username %>
			</p>
		</div>
		<% }); %>
	</div>
	<!-- Make sure this closing tag is here -->
	<% if (typeof serverCode !== 'undefined') { %>
	<div class="server-code-display">
		<button
			id="copyInviteBtn"
			class="btn btn-primary"
			onclick="copyInviteLink('<%= serverCode %>')"
		>
			Copy Invite
		</button>
	</div>
	<% } %>
</div>

<script>
	function copyInviteLink(code) {
		const inviteLink = `${window.location.origin}/joinserver/${code}`;
		navigator.clipboard.writeText(inviteLink).then(
			function () {
				/* clipboard successfully set */
				alert("Invite link copied to clipboard!");
			},
			function () {
				/* clipboard write failed */
				alert("Failed to copy invite link.");
			}
		);
	}
</script>
