<!DOCTYPE html>
<html lang="en" data-bs-core="modern">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Ion | Login Page</title>

		<!-- Link to your stylesheet -->
		<link rel="stylesheet" href="/login.css" />
		<script src="/script.js"></script>
		<script
			src="https://kit.fontawesome.com/ae809ac6b7.js"
			crossorigin="anonymous"
		></script>
		<!-- Halfmoon CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.1/css/halfmoon.min.css"
			rel="stylesheet"
			integrity="sha256-SsJizWSIG9JT9Qxbiy8xnYJfjCAkhEQ0hihxRn7jt2M="
			crossorigin="anonymous"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.1/css/cores/halfmoon.cores.css"
			rel="stylesheet"
			integrity="sha256-MAzAVJMU/ze52ZHcA8CeqRrCOVndMZlHwNeS2c73vP4="
			crossorigin="anonymous"
		/>
		<link rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32" />
	</head>
	<body>
		<div class="loginwrapper">
			<div class="specific-w-300 login">
				<h2 class="display-3" id="card-heading">Ion</h2>
				<form action="/login" method="post" novalidate>
					<div class="mb-3">
						<label for="email" class="form-label">Username or Email:</label>
						<input
							type="email"
							class="form-control"
							id="email"
							placeholder="username or email"
							required
						/>
						<div class="invalid-feedback">
							Please enter a valid email address or username.
						</div>
					</div>
					<label for="password" class="form-label">Password</label>
					<input
						type="password"
						id="password"
						class="form-control mb-5"
						aria-labelledby="password-help-block"
						required
						placeholder="password"
					/>
					<button type="submit" id="login-button" class="btn btn-outline-light">
						Login
					</button>
					<br />
					<br />
					<a href="/signup" class="signuptext"
						>Haven't signed up yet? Sign up here.</a
					>
				</form>
				<script defer src="/loginScript.js"></script>
			</div>
		</div>
	</body>
</html>
