<!-- views/onboarding.ejs -->
<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>Ion | Onboarding</title>
		<link rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32" />
		<!-- Link to your stylesheet -->
		<link rel="stylesheet" href="/styles.css" />
		<script src="/script.js"></script>
		<!-- Halfmoon CSS -->
		<link
			href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.1/css/halfmoon.min.css"
			rel="stylesheet"
			integrity="sha256-SsJizWSIG9JT9Qxbiy8xnYJfjCAkhEQ0hihxRn7jt2M="
			crossorigin="anonymous"
		/>
		<link
			href="https://cdn.jsdelivr.net/npm/halfmoon@2.0.1/css/cores/halfmoon.cores.css"
			rel="stylesheet"
			integrity="sha256-MAzAVJMU/ze52ZHcA8CeqRrCOVndMZlHwNeS2c73vP4="
			crossorigin="anonymous"
		/>
	</head>
	<body>
		<div class="wrapper">
			<div class="specific-w-300 onboarding">
				<h2 class="display-5 text-white" id="card-heading">Onboarding</h2>

				<!-- Create New Server Form -->
				<h4 class="text-white">Create a New Server</h4>
				<form
					id="createServerForm"
					action="/create-server"
					method="post"
					enctype="multipart/form-data"
					novalidate
				>
					<div class="mb-3 text-white">
						<label for="serverName" class="form-label">Server Name</label>
						<input
							type="text"
							class="form-control text-white bg-transparent"
							id="serverName"
							name="serverName"
							required
						/>
					</div>
					<div class="mb-3 text-white">
						<label for="serverProfilePicture" class="form-label"
							>Profile Picture</label
						>
						<input
							type="file"
							class="form-control text-white bg-transparent"
							id="serverProfilePicture"
							name="serverProfilePicture"
						/>
					</div>
					<button type="submit" class="btn btn-outline-light text-white">
						Create Server
					</button>
				</form>

				<!-- Join Existing Server Form -->
				<h4 class="text-white mt-5">Join an Existing Server</h4>
				<form
					id="joinServerForm"
					action="/join-server"
					method="post"
					novalidate
				>
					<div class="mb-3 text-white">
						<label for="serverCode" class="form-label">Server Code</label>
						<input
							type="text"
							class="form-control text-white bg-transparent"
							id="serverCode"
							name="serverCode"
							placeholder="Enter Server Code"
							required
						/>
					</div>
					<button type="submit" class="btn btn-outline-light text-white">
						Join Server
					</button>
				</form>

				<a href="/" class="text-white mt-4 d-block">Back to Home</a>
			</div>
		</div>

		<!-- JavaScript to handle form submissions, similar to signupScript.js -->
		<script src="/onboardingScript.js"></script>
	</body>
</html>
